<ul class="text-lg sm:text-xl">
  {% for book in include.books %}
  <li class="list-disc ml-7 my-3">
    <a
      href="{{ book.url }}"
      class="italic underline underline-offset-4 decoration-1 text-orange-600 dark:text-teal-500"
      target="_blank"
      >{{- book.title | strip -}}</a
    ><!-- No space between </a> and next element -->
    <span class="mx-1">by</span> {{- book.author | strip -}}{% if book.extra %}
    {{ book.extra | markdownify | strip }}{% endif %}
  </li>
  {% endfor %}
</ul>
