<footer class="mt-14">
  <div
    class="px-4 md:px-24 py-8 relative inset-0 h-full w-full bg-white bg-[radial-gradient(#9ca3af_1px,transparent_1px)] [background-size:16px_16px] dark:bg-neutral-800"
  >
    <h2 class="text-4xl mb-4">Contact</h2>
    <div
      class="text-lg px-4 py-2 rounded-lg case-study bg-gradient-to-r from-pink-400 via-orange-500 to-red-400 dark:from-emerald-800 dark:via-teal-800 dark:to-slate-600 text-white"
    >
      <div>
        <div class="hidden md:inline md:mr-3 font-semibold">
          Click to copy →
        </div>
        <a
          class="hover:underline cursor-pointer underline-offset-4"
          id="email"
          onclick="copyToClipboard()"
          >annabel.m.gray@gmail.com</a
        >
      </div>
      <div class="hidden md:inline md:mr-3 font-semibold">
        These links open in new tabs →
      </div>
      <ul class="md:inline-flex gap-3">
        <li>
          <a
            class="hover:underline underline-offset-4"
            href="https://linkedin.com/in/annabelgray"
            target="_blank"
            >LinkedIn</a
          >
          <span class="hidden md:inline ml-2">·</span>
        </li>
        <li>
          <a
            class="hover:underline underline-offset-4"
            href="https://gitlab.com/annabeldunstone"
            target="_blank"
            >GitLab</a
          >
          <span class="hidden md:inline ml-2">·</span>
        </li>
        <li>
          <a
            class="hover:underline underline-offset-4"
            href="https://github.com/annabel"
            target="_blank"
            >GitHub</a
          >
          <span class="hidden md:inline ml-2">·</span>
        </li>
        <li>
          <a
            class="hover:underline underline-offset-4"
            href="https://www.goodreads.com/annabelgray"
            target="_blank"
            >Goodreads</a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
