<header class="p-4">
  <nav class="max-w-7xl mx-auto flex justify-between items-center">
    <a href="/" class="tracking-wide flex gap-1 items-center">
      <div class="inline">ANNABEL</div>
      <div class="h-4 w-4 bg-gray-400 rounded inline-block"></div>
      <div class="hidden sm:inline">GRAY</div>
    </a>
    <ul class="flex space-x-5 items-center">
      <li class="flex items-center gap-1">
        <a
          href="/media/"
          class="hover:text-pink-600{% if page.url == '/media/' %} text-pink-600 underline underline-offset-4{% endif %}"
          >Media</a
        >
      </li>
      <li class="hidden sm:flex items-center gap-1">
        <a href="#" class="hover:text-pink-600"
          >Photography</a
        >
        <div
          class="px-1 rounded-lg text-xs bg-red-400 text-white"
        >
          soon
        </div>
      </li>
    </ul>
  </nav>
</header>
