<div class="mt-4">
  <h3
    class="text-2xl md:-ml-4 md:-mt-2 mb-2 bg-gray-200 dark:bg-neutral-700 px-4 py-2 rounded-full text-center md:text-left"
  >
    {{ include.category }}
  </h3>
  <div class="text-md sm:text-xl mb-5 max-w-prose">
    {{ include.description }}
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-2">
    {% for video in include.videos %}
    <div class="video-container">
      <iframe
        src="{{ video.url }}"
        title="{{ video.title }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin"
        allowfullscreen
      ></iframe>
    </div>
    {% endfor %}
  </div>
</div>
